.form-group label
{
    display: inline-block;
}

.custom-control-input{
    height: unset;
    width: unset;
    display: inline-block;
}

.actions ul li a {
    width: 140px;
    height: 50px;
    color: #fff;
    background: #4966b1;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.actions ul li a:hover {
    background: #002b97;
}

.form-control{
    font: unset;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
}
.form-date-group select {
    height: 40px;
}

.fieldset-content table {
    text-align: left;
}
