@charset "UTF-8";
/*!
 * CoreUI Icons - Open Source Icons
 * @version v0.3.0
 * @link https://coreui.io/icons
 * Copyright (c) 2018 creativeLabs Łukasz Holeczek
 * Licensed under MIT (https://coreui.io/icons/license)
 */
@font-face {
  font-family: 'CoreUI-Icons-Linear-Free';
  src: url("../fonts/CoreUI-Icons-Linear-Free9738.eot?64h6xh");
  src: url("../fonts/CoreUI-Icons-Linear-Free9738.eot?64h6xh#iefix") format("embedded-opentype"), url("../fonts/CoreUI-Icons-Linear-Free9738.ttf?64h6xh") format("truetype"), url("../fonts/CoreUI-Icons-Linear-Free9738.woff?64h6xh") format("woff"), url("../fonts/CoreUI-Icons-Linear-Free9738.svg?64h6xh#CoreUI-Icons-Linear") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="cui-"], [class*=" cui-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'CoreUI-Icons-Linear-Free' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cui-account-logout:before {
  content: "\e900";
}

.cui-action-redo:before {
  content: "\e901";
}

.cui-action-undo:before {
  content: "\e902";
}

.cui-align-center:before {
  content: "\e903";
}

.cui-align-left:before {
  content: "\e904";
}

.cui-align-right:before {
  content: "\e905";
}

.cui-arrow-bottom:before {
  content: "\e906";
}

.cui-arrow-left:before {
  content: "\e907";
}

.cui-arrow-right:before {
  content: "\e908";
}

.cui-arrow-top:before {
  content: "\e909";
}

.cui-ban:before {
  content: "\e90a";
}

.cui-basket-loaded:before {
  content: "\e90b";
}

.cui-bell:before {
  content: "\e90c";
}

.cui-bold:before {
  content: "\e90d";
}

.cui-bookmark:before {
  content: "\e90e";
}

.cui-briefcase:before {
  content: "\e960";
}

.cui-british-pound:before {
  content: "\e961";
}

.cui-brush:before {
  content: "\e90f";
}

.cui-calculator:before {
  content: "\e910";
}

.cui-calendar:before {
  content: "\e911";
}

.cui-cart:before {
  content: "\e912";
}

.cui-chart:before {
  content: "\e913";
}

.cui-check:before {
  content: "\e914";
}

.cui-chevron-bottom:before {
  content: "\e915";
}

.cui-chevron-left:before {
  content: "\e916";
}

.cui-chevron-right:before {
  content: "\e917";
}

.cui-chevron-top:before {
  content: "\e918";
}

.cui-circle-check:before {
  content: "\e919";
}

.cui-circle-x:before {
  content: "\e91a";
}

.cui-cloud:before {
  content: "\e91b";
}

.cui-cloud-download:before {
  content: "\e91c";
}

.cui-cloud-upload:before {
  content: "\e91d";
}

.cui-code:before {
  content: "\e91e";
}

.cui-cog:before {
  content: "\e91f";
}

.cui-comment-square:before {
  content: "\e920";
}

.cui-credit-card:before {
  content: "\e921";
}

.cui-cursor:before {
  content: "\e922";
}

.cui-dashboard:before {
  content: "\e923";
}

.cui-delete:before {
  content: "\e924";
}

.cui-dollar:before {
  content: "\e925";
}

.cui-drop:before {
  content: "\e926";
}

.cui-envelope-closed:before {
  content: "\e927";
}

.cui-envelope-letter:before {
  content: "\e928";
}

.cui-envelope-open:before {
  content: "\e929";
}

.cui-euro:before {
  content: "\e92a";
}

.cui-file:before {
  content: "\e92b";
}

.cui-globe:before {
  content: "\e92c";
}

.cui-graph:before {
  content: "\e92d";
}

.cui-home:before {
  content: "\e92e";
}

.cui-inbox:before {
  content: "\e92f";
}

.cui-info:before {
  content: "\e930";
}

.cui-italic:before {
  content: "\e931";
}

.cui-justify-center:before {
  content: "\e932";
}

.cui-justify-left:before {
  content: "\e933";
}

.cui-justify-right:before {
  content: "\e934";
}

.cui-laptop:before {
  content: "\e935";
}

.cui-layers:before {
  content: "\e936";
}

.cui-lightbulb:before {
  content: "\e937";
}

.cui-list:before {
  content: "\e938";
}

.cui-location-pin:before {
  content: "\e939";
}

.cui-lock-locked:before {
  content: "\e93a";
}

.cui-lock-unlocked:before {
  content: "\e93b";
}

.cui-magnifying-glass:before {
  content: "\e93c";
}

.cui-map:before {
  content: "\e93d";
}

.cui-monitor:before {
  content: "\e962";
}

.cui-moon:before {
  content: "\e93e";
}

.cui-note:before {
  content: "\e93f";
}

.cui-options:before {
  content: "\e940";
}

.cui-paperclip:before {
  content: "\e941";
}

.cui-pencil:before {
  content: "\e942";
}

.cui-people:before {
  content: "\e943";
}

.cui-phone:before {
  content: "\e944";
}

.cui-pie-chart:before {
  content: "\e945";
}

.cui-print:before {
  content: "\e946";
}

.cui-puzzle:before {
  content: "\e947";
}

.cui-rss:before {
  content: "\e963";
}

.cui-screen-desktop:before {
  content: "\e948";
}

.cui-screen-smartphone:before {
  content: "\e949";
}

.cui-settings:before {
  content: "\e94a";
}

.cui-share:before {
  content: "\e94b";
}

.cui-shield:before {
  content: "\e94c";
}

.cui-sort-ascending:before {
  content: "\e94d";
}

.cui-sort-descending:before {
  content: "\e94e";
}

.cui-speech:before {
  content: "\e94f";
}

.cui-speedometer:before {
  content: "\e950";
}

.cui-star:before {
  content: "\e951";
}

.cui-sun:before {
  content: "\e952";
}

.cui-tablet:before {
  content: "\e953";
}

.cui-tags:before {
  content: "\e954";
}

.cui-task:before {
  content: "\e955";
}

.cui-thumb-down:before {
  content: "\e956";
}

.cui-thumb-up:before {
  content: "\e957";
}

.cui-trash:before {
  content: "\e958";
}

.cui-underline:before {
  content: "\e959";
}

.cui-user:before {
  content: "\e95a";
}

.cui-user-female:before {
  content: "\e95b";
}

.cui-user-follow:before {
  content: "\e95c";
}

.cui-user-unfollow:before {
  content: "\e95d";
}

.cui-wrench:before {
  content: "\e95e";
}

.cui-yen:before {
  content: "\e95f ";
}
/*# sourceMappingURL=coreui-icons.css.map */